.dashboard-action-card {
  border: 1px lightgray solid;
  border-radius: 4px;
  margin-bottom: 20px
}

.action-card-inner {
  padding: 14px 18px
}

.icon-placeholder {
  background: lightgray;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.title {
  color: black;
  font-size: x-large
}

.text {
  color: black;

}