.profile-image {
  width: 175px;
  height: 175px;
  border: 1px solid #5d78b3;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  flex: 0 0 175px
}

.profile-list {
  border: 1px solid rgb(221, 218, 218);
  border-radius: 5px;
  margin-left: 1px;
  margin-bottom: 5px;
  padding: 2rem;
}

.card-logo-box {
  padding: 1rem 0 0 1rem;
  align-self: flex-start;
}

.profile-header span {
  color: #000;
  font-weight: 700;
  font-size: 1.1rem;
}

.card-sample {
  margin-top: .2rem;
  font-size: .8rem;
  color: #656565;
  font-weight: 700;
}

.member-card {
  border: 1px solid #656565;
  width: 390px;
  box-shadow: 2px 2px 2px #656565;
  margin-top: 1rem;
  white-space: normal;
}

#profile-image {
  border-radius: 50%;
  width: 65px;
  height: 65px;
}

.member-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.card-tail {
  display: flex;
  justify-content: space-between;
}

.item {
  padding: .8rem 0;
}

.item:nth-child(2) span {
  font-size: 1.5rem;
}

.item:nth-child(3) span {
  font-size: 1rem;
}

.item:nth-child(4) .item:nth-child(5) span {
  font-size: .8rem;
}

.section-label {
  font-weight: bold;
}

#lessonFocusAreas {
  padding: 0
}

.user-type {
  font-style: italic;
}

.user-name {
  font-variant: small-caps;
  font-weight: 600;
  font-size: 1.2rem;
}

.facility-review-list-item {
  margin-right: 0;
  margin-left: 0;
}

.profile-btn {
  margin-left: 30px;
}