.profile-image {
  width: 175px;
  height: 175px;
  border: 1px solid #5d78b3;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  flex: 0 0 175px
}

.profile-list {
  border: 1px solid rgb(238, 238, 238);
  border-radius: 5px;
  margin-left: 1px;
  margin-bottom: 1px;
  padding: 2rem;
}